<div style="background: #f3f3f9; font-family: 'Open Sans', sans-serif; color: black; height: 100%">
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous"
  />
  <meta name="google-site-verification" content="OBHSOz2bJypVuqhse4EbUNPh6u4nlzaqmKaLoOryaqs" />
  <main>
    <div class="email-container">
      <div class="email-body">
        <div
          class="banner"
          style="
            text-align: center;
            background: rgb(247, 247, 247);
            background: radial-gradient(
              circle,
              rgba(247, 247, 247, 1) 59%,
              rgba(0, 115, 188, 1) 100%,
              rgba(74, 151, 208, 1) 100%,
              rgba(31, 111, 184, 1) 100%
            );
            color: white;
            padding: 2em 5em;
            overflow: hidden;
          "
        >
          <img
            src="https://myapps.aio.co.id/assets/logo/logo-dark.png"
            alt=""
            style="width: 50%; height: auto"
          />
        </div>
        <div class="email-content" style="overflow: hidden; color: black">
          <p style="color: black">Dear {{ data?.validatorName }},</p>
          <p style="color: black">
            Kami ingin menginformasikan mengenai request baru dari dengan detail sebagai berikut:
          </p>
          <table style="width: 100%; color: black">
            <tr>
              <td style="width: 30%; font-weight: bold">Creator</td>
              <td style="font-weight: bold">:</td>
              <td>{{ data?.creatorName }}</td>
            </tr>
            <tr>
              <td style="width: 30%; font-weight: bold">Ticket Name</td>
              <td style="font-weight: bold">:</td>
              <td>{{ data?.ticket_name }}</td>
            </tr>
            <tr>
              <td style="width: 30%; font-weight: bold">Type</td>
              <td style="font-weight: bold">:</td>
              <td>{{ data?.type }}</td>
            </tr>
            <tr>
              <td style="width: 30%; font-weight: bold">Creation Date</td>
              <td style="font-weight: bold">:</td>
              <td>{{ data?.creation_date }}</td>
            </tr>
            <tr>
              <td style="width: 30%; font-weight: bold">Department Name</td>
              <td style="font-weight: bold">:</td>
              <td>{{ data?.department_name }}</td>
            </tr>
            <tr>
              <td colspan="3" style="width: 30%; font-weight: bold">Background</td>
            </tr>
            <tr>
              <td style="width: 30%;">What</td>
              <td style="font-weight: bold">:</td>
              <td [innerHTML]="data?.background_what"></td>
            </tr>
            <tr>
              <td style="width: 30%;">Who</td>
              <td style="font-weight: bold">:</td>
              <td [innerHTML]="data?.background_who"></td>
            </tr>
            <tr>
              <td style="width: 30%;">When</td>
              <td style="font-weight: bold">:</td>
              <td [innerHTML]="data?.background_when"></td>
            </tr>
            <tr>
              <td style="width: 30%;">Where</td>
              <td style="font-weight: bold">:</td>
              <td [innerHTML]="data?.background_where"></td>
            </tr>
            <tr>
              <td style="width: 30%;">Why</td>
              <td style="font-weight: bold">:</td>
              <td [innerHTML]="data?.background_why"></td>
            </tr>
            <tr>
              <td style="width: 30%;">How</td>
              <td style="font-weight: bold">:</td>
              <td [innerHTML]="data?.background_how"></td>
            </tr>
            <tr>
              <td style="width: 30%; font-weight: bold">Issue Description</td>
              <td style="font-weight: bold">:</td>
              <td>{{ data?.issue_description }}</td>
            </tr>
            <tr>
              <td style="width: 30%; font-weight: bold">Business Impact</td>
              <td style="font-weight: bold">:</td>
              <td>{{ data?.business_impact }}</td>
            </tr>
          </table>
          <br />

          @if (isValidated === true) {
          <div
            class="alert {{ data?.state === 'Refused' ? 'alert-danger' : 'alert-success' }}"
            role="alert"
          >
            <p>State: {{ data?.state }}</p>
            <p>Validation date: {{ mainservice.formatDate(data?.validation_date || currentDate) }}</p>
          </div>
          } @else if (isValidated === false) {
          <div>
            <p>Mohon lakukan konfirmasi/validasi pada kolom di bawah.</p>
            <div class="d-flex mb-2 align-items-center">
              <label for="exampleFormControlTextarea1" class="form-label text-body flex-grow-1"
                >Leave a Comment</label
              >
            </div>
            <textarea
              name="comment_validation"
              class="form-control bg-light border-light"
              id="exampleFormControlTextarea1"
              [value]="formValues.comment_validation"
              (change)="handleFormChange($event)"
              rows="4"
              placeholder="Enter your comment..."
            ></textarea>
            <div class="text-end mt-2">
              <button
                class="btn btn-success btn-sm"
                type="button"
                (click)="handleSubmit('Approve')"
              >
                Approve
              </button>
              &nbsp;
              <button class="btn btn-danger btn-sm" type="button" (click)="handleSubmit('Refused')">
                Refused
              </button>
            </div>
          </div>
          }

          <hr style="margin-top: 2em; background: red; color: red; padding: 1px" />
          <p style="color: black">Best Regards,</p>
          <p style="color: black"><em>ITS Section</em></p>
        </div>
      </div>
      <div
        class="banner"
        style="
          text-align: center;
          background: rgb(118, 172, 220);
          background: radial-gradient(
            circle,
            rgba(118, 172, 220, 1) 0%,
            rgba(31, 111, 184, 1) 88%,
            rgba(0, 115, 188, 1) 100%
          );
          color: white;
          padding: 2em 5em;
          overflow: hidden;
        "
      ></div>
    </div>
  </main>
</div>
